.input {
	background-color: transparent;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 0.3rem 0.5rem;
	color: inherit;
	font-family: inherit;
	resize: none;
	&::-webkit-scrollbar {
		background-color: transparent;
		width: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--active-color-dark);
		border-radius: 8px;
	}
}

.search-control {
	display: flex;
	align-items: center;
	position: relative;
}

.search-icon {
	position: absolute;
	display: inline-block;
	right: 0;
	cursor: pointer;
	width: 35px;
	height: 35px;
	border-radius: 8px;
	z-index: 5;
	background-color: transparent;
	transition: all 0.6s ease-in;
	&:before,
	&:after {
		position: absolute;
		content: '';
		transition: all 0.3s ease-in;
	}

	&:before {
		height: 20px;
		width: 20px;
		border: 2px solid var(--btn-color);
		border-radius: 50%;
		right: 6px;
		top: 5px;
	}

	&:after {
		height: 10px;
		width: 2px;
		background-color: var(--btn-color);
		bottom: 5px;
		right: 6px;
		transform: rotate(-45deg);
	}
}

.search-input {
	background-color: rgb(184, 184, 184);
	box-shadow: 0 0 25px 0 var(--btn-color), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.8s ease-out;
	opacity: 0;
	width: 30px;
	cursor: pointer;
	color: #000;
	z-index: 10;
	&:focus {
		opacity: 1;
		width: 250px;
		z-index: 2;
		cursor: text;
	}
}

.search-input:hover + .search-icon {
	&:before,
	&:after {
		background-color: var(--text-color);
	}
}

.search-input:focus + .search-icon {
	background-color: var(--active-color-dark);
	&:before {
		border: none;
		border-radius: 0%;
		background-color: var(--text-color);
		width: 20px;
		height: 2px;
		top: 17px;
		right: 7px;
		transform: rotate(-45deg);
	}

	&:after {
		height: 20px;
		right: 16px;
		bottom: 6px;
		background-color: var(--text-color);
	}
}

.form {
	position: fixed;
	top: 3rem;
	left: 50%;
	transform: translateX(-50%);
	min-width: 310px;
	max-width: 500px;
	max-height: 80vh;
	border: 2px solid var(--active-color-dark);
	border-radius: 24px;
	padding: 1rem;
	background-color: #181836;
	background: var(--form-gradient);
	text-align: center;
	overflow-y: auto;
	opacity: 0;
	z-index: -1;
	transition: all 0.4s ease-out;
	&__body {
		margin-bottom: 1rem;
	}

	&__message--invalid {
		color: var(--error-color);
	}

	.close-btn {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		font-size: 1.2rem;
		transition: color 0.2s ease-out;
		&:hover {
			color: var(--active-color);
		}
	}
}

.form.shown {
	opacity: 1;
	z-index: 20;
}

.form::-webkit-scrollbar {
	background-color: transparent;
	width: 5px;
}

.form::-webkit-scrollbar-thumb {
	background: var(--active-color-dark);
	border-radius: 16px;
}

.form-input {
	border: 1px solid var(--border-color);
	padding: 0.8rem 1rem;
}

.form-choice {
	margin-bottom: 30px;
	&__title {
		text-align: center;
		margin-bottom: 1.2rem;
	}
}

.form-selectors {
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
	margin: 0 auto;
	max-width: 90%;
	input {
		display: none;
	}

	label {
		position: relative;
		padding-bottom: 0.5rem;
		margin: 0 0.5rem;
		cursor: pointer;
		&:before {
			position: absolute;
			content: '';
			height: 2px;
			width: 0;
			right: 0;
			left: auto;
			background-color: transparent;
			bottom: 0;
			transition: all 0.3s ease-out;
		}

		&:hover {
			&:before {
				width: 100%;
				left: 0;
				right: auto;
				background-color: var(--active-color);
			}
		}
	}

	input:checked + label {
		color: var(--active-color);
		&:before {
			background-color: var(--active-color);
			width: 100%;
		}
	}
}

.form-control {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 30px;
	label {
		font-size: 1.1rem;
		margin-bottom: 10px;
	}

	input {
		width: 80%;
	}

	textarea {
		resize: none;
		min-height: 8rem;
		width: 100%;
	}

	textarea::-webkit-scrollbar {
		width: 5px;
		background-color: transparent;
	}
	textarea::-webkit-scrollbar-thumb {
		border-radius: 8px;
		background-color: var(--active-color-dark);
	}
}

.form-control.invalid {
	label {
		color: red;
	}

	textarea,
	input {
		border-color: red;
	}
}

.options-list {
	margin-bottom: 1rem;
	.option {
		font-family: 'Poppins-Regular', sans-serif;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 auto;
		padding: 0.4rem;
		text-align: left;
		border-bottom: 2px solid var(--active-color-dark);
		p {
			display: block;
			max-width: 80%;
			word-break: break-all;
		}
	}
}

.options-control {
	text-align: center;
	margin: 0 auto;

	input {
		margin-right: 0.4rem;
		margin-bottom: 0.5rem;
	}
}
