.context-menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 12rem;
	z-index: 100;
	border-radius: 8px;
	padding: 0 0.8rem;
	overflow: hidden;
	border: 1px solid var(--active-color-dark);
	background-color: var(--main-color);
	z-index: 10;

	&__btn {
		display: flex;
		align-items: center;
		padding: 0.8rem 0;
		border-bottom: 1px solid var(--active-color-dark);
		color: var(--text-color);
		font-family: 'Poppins-Regular';
		transition: all 0.3s ease-out;
		&:hover,
		&:active {
			color: var(--active-color);
			path {
				stroke: var(--active-color);
			}
		}
		&:last-child {
			border: none;
			margin: 0;
		}
	}

	svg {
		width: 20px;
		height: 20px;
		margin-right: 0.4rem;
		path {
			stroke: var(--text-color);
			transition: stroke 0.3s ease-out;
		}
	}

	.svg-primary,
	.svg-secondary {
		stroke: var(--text-color);
	}
	.svg-secondary {
		opacity: 0.4;
	}
}

.context-menu.todo {
	#copy-description-btn {
		display: none;
	}
}
