.main {
	padding-top: 4rem;
}

.notes-tabs {
	margin: 0 auto 4rem;
	display: flex;
	justify-content: space-between;
	max-width: 80%;
	font-size: 1.3rem;
}

.notes-tab {
	position: relative;
	padding-bottom: 0.6rem;
	padding: 0 0.5rem 0.6rem;
	transition: all 0.3s ease-out;
	cursor: pointer;
	&:before {
		position: absolute;
		content: '';
		width: 0;
		height: 3px;
		background-color: var(--active-color);
		left: auto;
		right: 0;
		bottom: 0;
		transition: all 0.3s ease-out;
		border-radius: 8px;
	}

	&:hover {
		color: var(--active-color);
		&:before {
			width: 100%;
			right: auto;
			left: 0;
		}
	}
}

.notes-tab.active {
	color: var(--active-color);
	&:before {
		width: 100%;
	}
}
