// Variables

$purple: #311f68;
$lightPurple: #5b59ad;
$lightBlue: #708dda;
$pink: #e57eb3;
$red: #c754bf;
$yellow: #e8c49f;
$darkPink: #ae66c8;

:root {
	--main-color: #302b63;
	--text-color: #d0d0d3;
	--btn-color: #767183;
	--active-color-light: #32a5e0;
	--active-color: #edb853;
	--active-color-dark: #706fc8;
	--active-note-color: #353545;
	--error-color: #c75454;
	--border-color: #a4a4ce;
	--main-gradient: linear-gradient(25deg, #0f0c29, #302b63);
	--form-gradient: linear-gradient(25deg, #4527a0, #000070);
}

// Fonts

@mixin font($name, $style, $weight, $url) {
	@font-face {
		font-family: $name;
		font-style: $style;
		font-weight: $weight;
		src: url($url) format('woff2');
		font-display: swap;
	}
}

@include font(
	'Monserrat-Regular',
	normal,
	400,
	'../fonts/Montserrat-Regular.woff2'
);

@include font(
	'Monserrat-Medium',
	normal,
	500,
	'../fonts/Montserrat-Medium.woff2'
);

@include font(
	'Monserrat-SemiBold',
	normal,
	600,
	'../fonts/Montserrat-SemiBold.woff2'
);

@include font('Poppins-Light', normal, 300, '../fonts/Poppins-Light.woff2');
@include font('Poppins-Regular', normal, 400, '../fonts/Poppins-Regular.woff2');
