@import 'config';

html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

body {
	background: linear-gradient(to bottom, #000 0%, transparent 60%) fixed,
		url('../img/aurora.webp') center / cover no-repeat fixed;
	background-color: var(--main-color);
	font-family: 'Monserrat-Regular', sans-serif;
	color: var(--text-color);
	height: 100vh;
	overflow-x: hidden;
}

body.gray-theme {
	--screen-bg-color: rgba(255, 255, 255, 0.04);
	--main-gradient: linear-gradient(25deg, #272433 1%, #353545 90%);
	--form-gradient: linear-gradient(25deg, #272433 1%, #353545 90%);
	--main-color: #1f1d2c;
	--text-color: #d0d0d3;
	--btn-text-color: #767183;
	--btn-color: #575779;
	--active-note-color: #353545;
	--border-color: #a4a4ce;
	--btn-gradient: linear-gradient(45deg, #575779 0%, #353545 74%);
	background: var(--main-color);
	background-color: var(--main-color);
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	max-width: 1200px;
	padding: 0 1rem;
	margin: 0 auto;
	height: 100%;
}

.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	transition: all 0.3s ease;
	background-color: rgba(0, 0, 0, 0.8);
}

.backdrop.shown {
	opacity: 1;
	z-index: 30;
}

.kitty {
	position: fixed;
	bottom: 0;
	right: 8%;
	transform: translateY(100%);
	width: 100px;
	height: 100px;
	z-index: 200;
	transition: transform .3s ease-out;
	img {
		height: 100%;
		width: 100%;
	}
}

.kitty.shown {
	transform: translateY(0);
}