@import 'config';

html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

body {
	background-color: $mainColor;
  font-family: 'Monserrat-Regular', sans-serif;
  color: $textColor;
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	max-width: 1200px;
	padding: 0 1rem;
  margin: 0 auto;
}
